@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 60px;

  --primary: #ff9203;
  --primary-foreground: #fbf0e2;

  --secondary: #fff;
  --secondary-foreground: #000;

  --accent: #fc3387;
  --accent-foreground: #ffbfda;

  --success: #02bc02;
  --success-foreground: #bcffbc;

  --bungee: "Bungee", sans-serif;
  --martel-sans: "Martel Sans", sans-serif;
}

body {
  background-color: var(--primary-foreground);
  color: var(--secondary-foreground);

  font-family: var(--martel-sans);
}
