.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));

  h1 {
    font-size: 100px;
    font-family: var(--bungee);
  }

  p {
    font-size: 40px;
    font-family: var(--martel-sans);
  }

  span {
    a {
      font-size: 25px;
      color: var(--accent);
      font-family: var(--bungee);
      cursor: pointer;
    }
  }
}
