.profile {
  padding: 20px;

  display: flex;
  flex-direction: column;

  max-width: 600px;
  margin: 0 auto;

  h1 {
    font-size: 50px;
    font-family: var(--bungee);
  }

  p {
    font-size: 30px;
    font-family: var(--martel-sans);
  }

  button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 25px;
    font-family: var(--martel-sans);
    background-color: var(--accent-foreground);
    cursor: pointer;

    &:hover {
      background-color: var(--accent);
      color: var(--secondary);
    }
  }
}
